.site-main__page-header {
	margin-bottom: 5px;
}

.site-main__configure {
	margin-bottom: 51px;
}

@media (max-width: desktop-width - 1) {
	.site-main__page-header {
		margin-bottom: 40px;
	}

	.site-main__configure {
		margin-bottom: 30px;
	}
}

@media (max-width: tablet-width - 1) {
	.site-main__page-header {
		margin-bottom: 31px;
	}

	.site-main__configure {
		margin-bottom: 0;
	}
}
