white = #ffffff;
black = #000000;
light-black = #29435d;
grey = #8391b2;
light-grey = #c8c8c8;
lighten-grey = #e5e5e5;
blue = #2f93fe;
light-blue = #71b6ff;
lighten-blue = #b3d8ff;
dark-blue = #0971f5;

mobile-width = 320px;
tablet-width = 768px;
desktop-width = 1200px;

gotham-pro = 'Gotham Pro', Arial, sans-serif;
museo-sans-cyrl = 'Museo Sans Cyrl', Arial, sans-serif;
