header.page-header.site-main__page-header
	- var sectionName = 'page-header';

	.center-wrapper.page-header__center-wrapper
		h1.title.page-header__title Надежные серверы для проектов любой сложности

		p.text.text--grey.page-header__text Выделенный сервер — это аренда сервера под&nbsp;задачи вашего проекта с&nbsp;возможностью свободно распоряжаться ресурсами машины и&nbsp;установки любого программного обеспечения.

		a.button.button--blue.button--std.page-header__button(href='#') Готовые серверы
