.site-body {
	.site-header {
		margin-bottom: 20px;
	}
}

@media (max-width: desktop-width - 1) {
	.site-body {
		.site-header {
			margin-bottom: 31px;
		}
	}
}

@media (max-width: tablet-width - 1) {
	.site-body {
		.site-header {
			margin-bottom: 34px;
		}
	}
}
