.noUi-marker-horizontal.noUi-marker {
	display: none;
}

.noUi-target {
	border-radius: 3px;

	box-shadow: none;
	border: none;
}

.noUi-horizontal {
	height: 2px;
}

.noUi-connects {
	background-color: lighten-grey;
}

.noUi-connect {
	background-color: blue;
}

.noUi-horizontal .noUi-handle {
	width: 12px !important;
	height: 12px !important;

	border-radius: 50%;
	border: none;

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);

	transform: translateX(-11px);

	&::before,
	&::after {
		content: none;
	}

	&:hover,
	&:focus,
	&:active {
		outline: none;

		transform: scale(1.25) translateX(-8px);
	}

	&:focus {
		outline: -webkit-focus-ring-color auto 1px;
	}
}

.noUi-value {
	color: light-black;

	font-size: 12px;

	&:nth-of-type(2),
	&:nth-of-type(6) {
		color: light-grey;

		transform: translate(-4px, -3px);

		&::after {
			width: 100%;
			height: 100%;

			position: absolute;
			right: -11px;
			top: 0;

			background-color: white;

			content: '';
		}
	}

	&:nth-of-type(4) {
		transform: translate(-18px, 8px);
	}
}

.noUi-pips-horizontal {
	width: 96%;
	height: auto;

	padding: 0;

	left: 2px;
	top: 6px;
}

@media (max-width: desktop-width - 1) {
	.noUi-value {
		&:nth-of-type(2),
		&:nth-of-type(6) {
			transform: translate(-2px, 1px);
		}

		&:nth-of-type(4) {
			font-size: 14px;
		}
	}
}
